.gist table tr {
background-color: rgba(220,220,220,0.2) !important;
}

.gist-file {
  border-bottom: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* clamp() を使ってフォントサイズを可変に */
h1 { font-size: clamp(2.0rem, 5vw, 3.0rem); }
h2 { font-size: clamp(1.8rem, 4.5vw, 2.5rem); }
h3 { font-size: clamp(1.5rem, 4vw, 2.2rem); }
p, li, a, th, td { font-size: clamp(1.0rem, 2.5vw, 1.5rem); } /* 1rem = 約16px */

p {
    color: #3d4245!important;
}
a.topname {
    font-size: 65px;
}

table {
  margin: auto;
  margin-bottom: 16px;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
  font-style: italic;
}

img{
 display: block;
 margin: 0px auto;
 max-width: 100%;
 border: 1px solid #eee;
}

td, tr {
    padding: 6px 14px;
    border: 1px solid #ddd;
}

code.language-plaintext.highlighter-rouge {
    background-color: rgba(0, 0, 0, 0.04);
}

pre.highlight {
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}

.sidebar {
    overflow: scroll;
    position: fixed;
    margin-left: 1%;
    height: 100%;
    width: 25%;
}

.tenant {
    position: fixed;
    margin-left: 81%;
    height: 100vh;
    width: 18%;
}

.content {
    margin-left: 27%;
    margin-right: 20%;
}
.topname {
    font-weight: bold;
}
.responsive-ad-image {
  height: 100vh;
  width: auto;
  object-fit: contain;
}

@media screen and (max-width:1024px) {
    a.topname {
        font-size: 65px;
    }
    .sidebar {
        overflow: auto;
        margin-left: 3%;
        margin-right: 3%;
        height: auto;
        width: 94%;
        position: relative;
    }
    .content {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .tenant {
        overflow: auto;
        margin-left: 3%;
        margin-right: 3%;
        height: auto;
        width: 94%;
        position: relative;
    }
    .responsive-ad-image {
      width: 100%;
      height: auto;
    }
}
